.red
{
	color: red;
}

.results .hit
{
	background-color: black;
}

.results .miss
{
	background-color: red;
}

.results .percent
{
	background-color: darkblue;
}

.results a
{
	color: gray;
}

.options .header
{
	background-color: black;
}

.options .header a
{
	color: lightgray;
}

.options .main
{
	border-color: black;
}