.red
{
	color: red;
}

.results .hit
{
	background-color: black;
}

.results .miss
{
	background-color: red;
}

.results .percent
{
	background-color: darkblue;
}

.results a
{
	color: gray;
}

body > .options
{
	background-color: #fafafa;
}

.options .header
{
	background-color: black;
}

.options .header a
{
	color: lightgray;
}

