.results
{
	text-align: center;
	display: none;
}

.results table
{
	margin: auto;
}

.upper td
{
	vertical-align: bottom;
}

.lower td
{
	vertical-align: top;
}

.results button
{
	display: block;
	margin: auto;
	margin-top: 75px;
}

.results .hit
{
	background-color: black;
	width: 1em;
}

.results .miss
{
	background-color: red;
	width: 1em;
}

