.results
{
	text-align: center;
	display: none;
}

.results button
{
	display: block;
	margin: auto;
	margin-top: 75px;
}

.results > div 
{
	display: inline-block;
	margin: 5px;
}

.results .hit
{
	background-color: black;
	width: 1em;
}

.results .miss
{
	background-color: red;
	width: 1em;
}